<% if signed_in? %>
	<h2>News Feed</h2>
<% else %>
	<h1>Welcome to Book of Faces!</h1>
	<p>Start connecting with friends now.</p>
	<h2><%= link_to "Sign up now", new_user_registration_path %></h2>
<% end %>
