<% provide(:title, "Home") %>

<div class="static-home-wrapper box">
  <h1>Welcome to Book of Faces!</h1>
  <h2>Start connecting with friends now.</h2>
  <%= button_to "Sign up now", new_user_registration_path, method: :get,
                               class: "signup-btn" %>
</div>


<script type="text/javascript">
  <% if current_page?(controller: 'static_pages', action: 'home') %>
    $(".home-nav").addClass("current-page");
  <% end %>
</script>