<% provide(:title, "Friend requests") %>

<h1>Friend Requests</h1>

<table>
	<% @pending_friend_requests.each do |friend_request| %>
	  <%= render "shared/friend_form", friend_request: friend_request %>
	<% end %>

	<% @requested_friend_requests.each do |friend_request|%>
    <tr>
      <td><%= image_tag friend_request.friended.avatar.url(:thumb) %></td>
      <td class="user-name"><%= friend_request.friended.name %></td>
      <td>Pending</td>
    </tr>
	<% end %>
</table>

