<% provide(:title, "Friend requests") %>

<h1>Friend Requests</h1>

<ul>
	<% @pending_friend_requests.each do |friend_request| %>
		<%= render "shared/friend_form", friend_request: friend_request %>
	<% end %>
</ul>

<ul>
	<% @requested_friend_requests.each do |friend_request|%>
		<li>
      <%= image_tag friend_request.friended.avatar.url(:thumb) %>
      <b><%= friend_request.friended.name %></b>
		  Pending
    </li>
	<% end %>
</ul>

