<% provide(:title, "Home") %>

<section class="homepage">

  <div class="homepage-posts">
    <%= render "shared/post_form" %>

    <h2>Posts</h2>

    <div class="pagination"><%= will_paginate @posts %></div>

    <% @posts.each do |post| %>
    	<%= render "shared/post", post: post %>
    <% end %>

    <div class="pagination"><%= will_paginate @posts %></div>
  </div>
</section>