<% provide(:title, "Home") %>

<section class="homepage">

  <div class="homepage-posts">
    <div class="post-form box">
      <%= render "shared/post_form" %>
    </div>

    <h2>Posts</h2>

    <div class="pagination"><%= will_paginate @posts %></div>

    <% @posts.each do |post| %>
    	<%= render "shared/post", post: post %>
    <% end %>

    <div class="pagination"><%= will_paginate @posts %></div>
  </div>
</section>

<script type="text/javascript">
  <% if current_page?(controller: 'posts', action: 'index') %>
    $(".home-nav").addClass("current-page");
  <% end %>
</script>