<h2>Write a new post</h2>

<%= render "shared/post_form" %>

<h2>Posts</h2>

<%= will_paginate @posts %>

<% @posts.each do |post| %>
	<%= render "shared/post", post: post %>
<% end %>

<%= will_paginate @posts %>
