.comments {
  padding-bottom: 10px;
  border-top: 1px solid #ddd;
  background: #f7f7f7;

  > * {
    margin: 10px 24px;
  }

  li {
    padding-bottom: 5px;
  }


  li~li {
      border-top: 1px solid var(--light-border-color);
  }

  .avatar-comment-thumb, h5 {
    display: inline;
  }

  .comment-content {
    margin: 10px 0;
  }

  .comment-info-wrapper > * {
    display: inline-block;
    vertical-align: middle;
  }

  .comment-info-wrapper {
    margin-bottom: 5px;
  }

  .comment-form {
    /*margin: var(--tab-offset);*/
  }
}