.comments {
  li {
    margin: var(--tab-offset);
  }

  li~li {
      border-top: 1px solid var(--light-border-color);
    }

  .avatar-comment-thumb, h5 {
    display: inline;
  }

  .comment-form {
    margin: var(--tab-offset);
  }
}