.post~.post {
  margin: 15px 0; 
}

.post {

  background: white;
  border: 1px solid gray;
  width: 550px;

  .content {
    border-bottom: 1px solid var(--light-border-color);

    .avatar-thumb, .user-name, {
      display: inline-block;
    }

    h3 {
      padding-top: 10px;
    }

    .post-image {
      display: block;
    }
  }

  .likes {
    border-bottom: 1px solid var(--light-border-color);
  }

  .content, .likes, .comments {
    margin: 10px;
  }

  .date-post {
    font-size: 12px;
    color: gray;
  }

  .edit-delete-container {
    padding-top: 5px;
  }

  .edit-delete:link, .edit-delete:visited {
    font-size: 14px;
    color: #af9795;
  }

}
