
.post-form {
  margin-bottom: 30px;
  text-align: left;
  padding: 25px;

  .post-form-avatar,
  .post-form-text-box {
    display: inline-block;
  }

  .post-form-avatar {
    margin-right: 5px;
    vertical-align: top;
  }

  .post-btn {
    margin-left: 38px;
  }


}

.post {
  margin-bottom: 15px;
  padding: 15px 0 0 0;
  text-align: left;

  .content {
    padding: 0 15px;
    border-bottom: 1px solid var(--light-border-color);

    .post-info-wrapper > * {
      display: inline-block;
      vertical-align: middle;
    }

    .post-info-wrapper {
      margin-bottom: 5px;
    }

    .post-image {
      display: block;
    }
  }

  .likes {
    /*border-bottom: 1px solid var(--light-border-color);*/
  }

  .content {
    margin: 10px;
  }

  .date-post {
    font-size: 12px;
    color: gray;
  }

  .edit-delete-container {
    padding-top: 5px;
  }

  .edit-delete:link, .edit-delete:visited {
    font-size: 14px;
    color: #af9795;
  }

}
