/* VARIABLES, MIXINS, ETC. */

* {
  margin: 0;
  padding: 0;
}

*, *:active, *:hover {
  outline: none;
}

:root {
  --header-height: 40px;
}

:root {
  --tab-offset: 10px 0 10px 15px;
}

:root {
  --light-border-color: #d0dbe2;
}

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}


/* HEADER */

nav {
  background: #8AC794;
  height: var(--header-height);
  position: fixed;
  top: 0;
  width: 100%;
  @include box_sizing;

  ul {
    float: right;
    margin: 0 10px;

    li {
      color: #FFF;
      display: block;
      float: left;
      line-height: var(--header-height);
      padding: 0px 5px;
      text-align: center;
    }
  }
}


/* CONTENT LAYOUT */

#content-container {
  margin: 10px;
  padding-top: var(--header-height);
  @include box_sizing;
}

  p {
    padding: 2px 0;
  }


/* FONT, COLOR */

body {
  background: #EFEFEF;
  color: black;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 50px;
  font-weight: bold;
  padding-bottom: 15px;
}

h2 {
  font-size: 35px;
  padding: 10px 0;
}

h3 {
  font-size: 25px;
  padding: 5px 0;
}

h4 {
  font-size: 20px;
  padding: 5px 0
}

h5 {
  font-size: 16px;
  padding: 5px 0;
}

a, a:link, a:visited {
  color: black;
  text-decoration: none;
}

a:hover, a:active {
  font-weight: bold;
}


/* TABLES */

table {
  border-collapse: separate;

  td {
    padding: 5px 10px;
    vertical-align: middle;
  }
}

/* FORMS */

.btn {
  background: #077a70;
  border: none;
  border-radius: 5px;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 13px;
  margin-top: 5px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
}

.btn:hover, .btn:active {
  background: #06665e;
}

.text-box {
  display: block;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  padding: 5px;
  height: 50px;
  width: 400px;
}
