.profile-info {
  float: left;
  width: 35%;
}

.profile-posts {
  float: left;
  margin-bottom: var(--footer-margin);
  margin-left: 20px;
  width: 60%;
}

.user-name {
  color: var(--dark-green);
  font-weight: bold
}

.users {
  .other-link {
    color: black;
  }
}